@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Nunito&family=Signika+Negative:wght@500&family=Ubuntu:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 94%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  background: var(--clr-grey-9);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.underline {
  height: 0.2rem;
  width: 17rem;
  background-color: rgba(255, 98, 45, 1);
  margin-left: auto;
  margin-right: auto;
}

/* main {
  min-height: 100vh;
  display: grid;
  place-items: center;
} */

/*
=============== 
Navbar
===============
*/
nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
#check{
  display: none;
}
#check:checked ~ .nav-toggle {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 50px;
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  /* transition: var(--transition); */
}
.links a:hover {
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
  transition: var(--transition);
}
.social-icons {
  display: none;
}
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 15rem;
}

.links-social{
    display: flex;
    align-items: flex-end;
}
.links-social a{
    font-size: 2rem;
    margin: 0 1rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
}
.links-social a:hover{
    color: var(--clr-primary-2);
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.9rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
    padding-right: 1.5rem;
  }
  .social-icons a {
    font-size: 1.5rem;
    margin: 0 1rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-2);
  }
  .links-social{
      display: none;
  }
}

.intro-section{
  padding: 6em 0 6em 0;
  box-shadow: var(--light-shadow);
}

.intro-image{
  display: block;
  margin: auto;
  width: 20em;
  height: 20em;
  object-fit: cover;
  border: 1px solid var(--clr-grey-7);
  background: var(--clr-white);
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: var(--dark-shadow);
}
.intro-body{
  text-align: center;
}
.intro-text{
  font-size: 1.5rem;
}

@media(max-width: 990px){
  .intro-image{
    width: 15em;
    height: 15em;
  }
}
@media(max-width: 767px){
  .intro-image{
    width: 20em;
    height: 20em;
  }
}

.work-section{
  background-image: url(images/bg.png);
  padding: 6em 0 6em 0;
  text-align: center;
}
.work-text{
  font-size: 1.5rem;
}

.card{
  padding: 1.2rem 0;
  transition: all 0.3s ease 0s
}
.card:hover{
  transform: scale(1.05);
}
.card-icon{
  font-size: 4em;
  color: #EA8A95;
  display: flex;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
  /* width: 1.5em;
  height: 1.5em;
  border: 1px solid var(--clr-grey-7);
  background: var(--clr-white);
  border-radius: 50%;
  box-shadow: var(--dark-shadow); */
}
.card-title{
  font-weight: bold;
  font-size: 1rem;
}
.card-text{
  margin: 1.5rem 1em;
}
@media(max-width: 767px){
  .card{
    margin: 0.5rem 0;
  }
  .card:hover{
    transform: none;
  }
}

.projects-section{
  padding: 4em 0 4em 0;
  text-align: center;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
}
.projects-text{
  font-size: 1.5rem;
}
.project-img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top: 1px solid var(--clr-grey-7);
  border-bottom: 1px solid var(--clr-grey-7);
  /* background: var(--clr-white); */
  /* margin: 0.5rem; */
  /* box-shadow: var(--dark-shadow); */
}
.project-title{
  color: black;
  /* margin: 0.5rem 0 */
}
.project-1 a, .project-2 a, .project-3 a{
  display: block;
  margin: auto; 
}
.promo-section{
  position: relative;
  background-image: /*url(images/overlay.png),*/ url(../../images/promo1.png);
  background-size: /*192px 192px,*/ cover;
  background-position: top left, center center;
  color: #fff;
  text-align: center;
  padding: 6em 0;
}
.promo-section .container{
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 1px #fff;
  border-radius: 5px;
  padding: 2em 0;
}
.promo-section .container h3{
  display: inline-block;
  margin-right: 1.75rem;
  font-weight: bold;
}
@media(max-width: 767px){
  .promo-section{
    padding: 6em 1em;
  }
  .promo-section .container h3{
    display: inline-block;
    margin: auto;
    font-weight: bold;
}
}
.blog-section{
  padding: 4em 0 4em 0;
  text-align: center;
  /* background-color: #fff; */

}
.blog-text{
  font-size: 1.5rem;
}




/* Footer styling */
.color-bar{
  display: flex;
}
.one{
  width: 10%;
  height: 3px;
  background-color: rgb(11, 136, 195);
  border-radius: 0px;
}
.two{
  width: 10%;
  height: 3px;
  background-color: rgb(0, 211, 119);
  border-radius: 0px;
}
.three{
  width: 10%;
  height: 3px;
  background-color: rgb(0, 185, 80);
  border-radius: 0px;
}
.four{
  width: 10%;
  height: 3px;
  background-color: rgb(255, 210, 71);
  border-radius: 0px;
}
.five{
  width: 10%;
  height: 3px;
  background-color: rgb(255, 152, 0);
  border-radius: 0px;
}
.six{
  width: 10%;
  height: 3px;
  background-color: rgb(255, 70, 79);
  border-radius: 0px;
}
.seven{
  width: 10%;
  height: 3px;
  background-color: rgb(255, 130, 179);
  border-radius: 0px;
}
.eight{
  width: 10%;
  height: 3px;
  background-color: rgb(255, 67, 133);
  border-radius: 0px;
}
.nine{
  width: 10%;
  height: 3px;
  background-color: rgb(164, 125, 204);
  border-radius: 0px;
}
.ten{
  width: 10%;
  height: 3px;
  background-color: rgb(135, 91, 181);
  border-radius: 0px;
}
footer{
  /* background-color: #fff; */
  text-align: center;
}
.footer-text{
  margin: auto;
  /* background-color: #004652; */
  font-size: 1.2rem;
  font-weight: bold;
}
.footer-contact{
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
  font-weight: bold;
}
.footer-icons{
  font-size: 2rem;
}
@media(max-width: 767px){
  footer{
    display: block;
  }
  .footer-contact{
    display: block;
  }
}

/*******************Styling for projects page  ***************************/

.projects-page-header{
  text-align: center;
}
.projects-page-text{
  font-size: 1.3rem;
}
.projects-div{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.projects-div div{
  margin: 1.0rem 0;
  text-align: center;
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
}

/*****************Styling for Contact Page  ***************/
.contact-page-section{
  text-align: center;
}
.contact-page-section h3{
  font-weight: bold;
}
.contact-page-section p{
  font-size: 2rem;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}
.contact-page-section div a{
  font-size: 1.5rem;
  margin: 0 1.5rem;
}






/*Buttons stylings*/
.button-1{
    display: block;
    margin: auto;
    height: 52px;
    line-height: 48px;
    padding: 0 32px;
    border-radius: 5px;
    font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
    background-color: #008298;
    border: transparent;
}
.button-1:hover{
    background: linear-gradient(#004652, #004652) !important;
}
.button-1 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.button-1 a{
    text-decoration: none;
    color: white !important;
}
.cta{
    padding: 9px 25px;
    background-color: #FF622D;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
.cta a{
    color: white;
    text-decoration: none !important;
}
.cta:hover{
    background-color: #B23300;
    transform: scale(1.05);
}

/*white-fonts*/
.fff{
    color: #fff;
}

/*white background*/
.bg-fff{
    background-color: #fff
}