@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito&family=Signika+Negative:wght@500&family=Ubuntu:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}
header{
    background-image: url(/images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
}

/*Header Styling*/
.header-flex{
    display: flex;
    justify-content: center;
}
.header-name{
    background-color: rgba(255, 255, 255, 0.5);
    color: #004652;
    border-radius: 5px;
    padding: 7px 13px;
    text-align: center;
    position: fixed;
    top: 20px;
    left: 0;
    z-index: 2;
    margin-left: 20px;
}
header div div h2{
    font-weight: bold;
}
.header-cta{
    position: fixed;
    top: 25px;
    right: 0;
    z-index: 2;
    padding-right: 20px;
    text-align: center;
}


.intro{
    margin: 2rem auto;
    width: 50%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px 13px;
}

.intro section button{
    display: block;
    margin: auto;
    font-size: 1.3rem;
}
.intro section h1 span{
    font-weight: bold;
    text-decoration: underline;
    font-family: "Nunito", sans-serif;
}


@media(max-width: 763px){
    .header-name{
        position: relative;
        z-index: 0;
        font-size: 1.2rem;
        margin: auto;
    }
    header div div h2{
        font-size: 2.5rem;
    }
    header div div img{
        display: none;
    }
    .header-cta{
        display: block;
        position: relative;
        z-index: 0;
        margin: 25px auto;
        font-size: 1.2rem;
    }
    .header-flex{
        display: block;
    }
    .intro{
        width: 90%;
        margin-top: 100px;
    }
}

/*Navigation bar Stying*/
nav{
    height: 100px;
    width: 50%;
    margin: auto;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    line-height: 100px;
}
nav ul li a{
    color: #004652;
    font-size: 17px;
    padding: 7px 5px;
}
nav ul li a:hover{
    border-bottom: solid 2px #004652;
    color: #004652;
}
.nav-cta{
    display: none;
}
.checkbtn{
    font-size: 25px;
    color: #0558aa;
    width: 20%;
    float: right;
    text-align: end;
    padding-right: 30px;
    line-height: 70px;
    cursor: pointer;
    display: none;
}
.check-close{
    font-size: 25px;
    color: #0558aa;
    margin: auto;
    text-align: end;
    padding-right: 30px;
    line-height: 70px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/*Smaller screens and mobile styling for nav*/
@media(max-width: 763px){
    .checkbtn{
        display: block;
    }
    nav{
        width: 100%;
        background-color: #fff;
        height: 70px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    nav ul{
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff;
        top: 70px;
        right: -100%;
        text-align: center;
        transition: all .5s;
        margin-right: 0 !important;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #check:checked ~ ul{
        right: 0;
    }
    #check:checked ~ .checkbtn{
        display: none;
    }
    #check:checked ~ .check-close{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
    }
    .nav-cta{
        display: inline-block;
        margin: 15px 10px;
        font-size: 0.7rem !important;
    }
}
@media(max-width: 400px){
    nav button{
        font-size: 0.7rem !important;
    }
}

/*Sticky position*/
.pos-sticky{
    position: sticky;
    top: 0;
    z-index: 1;
}

/*Buttons stylings*/
.button-1{
    display: block;
    margin: auto;
    height: 52px;
    line-height: 48px;
    padding: 0 32px;
    border-radius: 5px;
    font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
    background-color: #008298;
    border: transparent;
}
.button-1:hover{
    background: linear-gradient(#004652, #004652) !important;
}
.button-1 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.button-1 a{
    text-decoration: none;
    color: white !important;
}
.cta{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 0.6);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
.cta a{
    color: white;
    text-decoration: none !important;
}
.cta:hover{
    background-color: rgba(0, 136, 169, 1);
}

/*white-fonts*/
.fff{
    color: #fff;
}

/*white background*/
.bg-fff{
    background-color: #fff
}