* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/*Logo*/
.logo{
    width: 20%;
}

.intro{
    margin: auto;
    width: 50%;
}
.intro section{
    margin-top: 7rem;
}
.intro section button{
    display: block;
    margin: auto;
    font-size: 1.3rem;
}
.intro section h1 span{
    font-weight: bold;
    text-decoration: underline;
}

/*Two Items flex*/
.flex-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Buttons stylings*/
.button-1{
    display: block;
    margin: auto;
    height: 52px;
    line-height: 48px;
    padding: 0 32px;
    border-radius: 5px;
    font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
    background-color: #008298;
    border: transparent;
}
.button-1:hover{
    background: linear-gradient(#004652, #004652) !important;
}
.button-1 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.button-1 a{
    text-decoration: none;
    color: white !important;
}
.cta{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 0.6);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-weight: bold;
}
.cta a{
    color: white;
    text-decoration: none !important;
}
.cta:hover{
    background-color: rgba(0, 136, 169, 1);
}

/*white-fonts*/
.fff{
    color: #fff;
}